/*FONTS-----------*/


.poppins-black {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: normal;
}

.notable-regular {
    font-family: "Notable", serif;
    font-weight: 400;
    font-style: normal;
}

.bowlby-one-regular {
    font-family: "Bowlby One", serif;
    font-weight: 400;
    font-style: normal;
}


.syne-t {
    font-family: "Syne", serif;
    font-optical-sizing: auto;
    
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

body {
   
}

/* NAV REGISTER */

nav {
    background-color: #f46eca;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    border-bottom: 3px solid black;
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 1);
}

nav img {
    height: 2em;
}

.logo {
    font-size: 2.28em;
    font-weight: bold;
    padding-left:1em;
}
.logo-box {
   
    display: flex;
    align-items: center;
}
.logo-box img {
    height: 1.1em;
}

.main-logo {
    color: white;
    margin-left: 10px;
    -webkit-text-stroke: 2px black;
    font-family: "Syne";
    /*text-shadow: 3px 3px 0 black;*/
}


ul {
    border-left: 3px solid black;
    list-style: none;
    display: flex;
    font-size: 20px;
    
    
}


/* MAIN REGISTER*/
.login-register {
    background-color: #C9C4FE;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.inner-login-register {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 3px solid black;
    padding: 20px 40px;
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 1);
    border-radius: 20px;
}

.logo-login-register {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5em;
}

.logo-login-register img {
    height: 2em;
}


.login-register-form {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.btn-register {
    border: 3px solid black;
    padding: 2px;
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
    background-color: yellow;
    border-radius: 15px;
    cursor: pointer;
    font-family: "Bowlby One";
}



.lblregister {
    font-size: 1.8em;
    border-radius: 15px;
    font-family: "Bowlby One";
}

.txt-register {
    padding: 4px 15px;
    border: 1px solid black;
    border-radius: 15px;
}

.circle-list {
    list-style: none;
    padding: 1.38em;
    padding-left: 2em;
    background-color: #8eaddc;
}

    .circle-list li {
        width: 20px; /* Set the size of the circle */
        height: 20px; /* Width and height must be equal for a circle */
         /* Background color of the circle */
        border: 3px solid black;
        border-radius: 50%; /* Makes the shape circular */
        margin-right: 20px; /* Add spacing between circles */
       
    }

    .circle-list li:nth-child(1) {
        background-color: #229e93; /* First circle */
    }

    .circle-list li:nth-child(2) {
        background-color: #229e93; /* Second circle */
    }

    .circle-list li:nth-child(3) {
        background-color: #229e93; /* Third circle */
    }